<!DOCTYPE html>
<html>
    <head>
        <title>All Contacts Deleted!</title>
    </head>
    <body>
        <div class="container-fluid">
            <h1>All Contacts Deleted!</h1>
            <p>All your contacts have been deleted.</p>
            <a href="/">Home / Add A New Contact</a>
        </div>
    </body>
</html>
