<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <title>All Contacts Deleted!</title>
    </head>
    <body>
        <div class="container-fluid">
            <h1>All Contacts Deleted!</h1>
            <p>All your contacts have been deleted.</p>
            <a href="/">Home / Add A New Contact</a>
        </div>
    </body>
</html>
